#chat-screen {
    background-color:#ABC0D0;
    height:1000vh;
}

#chat-screen .alt-header {
    margin-top:-90px;
    position:fixed;
    width:100%;
    box-sizing:border-box;
    z-index:1;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    background-color:#ABC0D0;
}

#chat-screen .status-bar {
    z-index:2;
}

.main-chat {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.chat__timestamp {
    color:white;
    background-color:#91A3B2;
    padding:8px 15px;
    border-radius:16px;
    font-size:13px;
    margin-bottom:25px;
}

.message-row {
    width:100%;
    display:flex;
    margin-bottom:25px;
}

.message-row img {
    width:45px;
    height:45px;
    border-radius:43%;
    margin-right:8px;
}

.message__author {
    opacity:0.8;
    font-size:14px;
    margin-bottom:5px;
    display:block;
}

.message__info {
    display:flex;
    align-items:flex-end;
}

.message__bubble {
    background-color:white;
    font-size:18px;
    padding:12px;
    border-radius:15px;
    border-top-left-radius:0px;
    margin-right:5px;
}

.message__time{
    opacity:0.8;
    font-size:12px;
}

.message-row--own {
    justify-content:flex-end;
}

.message-row--own .message__bubble {
    background-color:var(--yellow);
    border-top-right-radius:0%;
    border-top-left-radius:15px;
    margin-right:0px;
    margin-left:5px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 25px;
    box-sizing:border-box;
}

.reply .reply__column:first-child {
    width:10%;
}

.reply .reply__column:last-child {
    width:90%;
    position:relative;
}

.reply i{
    opacity:0.5;
}

.reply input {
    height:30px;
    width:100%;
    border:var(--main-border);
    border-radius:20px;
}

.reply input::placeholder {
    padding:10px;
    font-size:15px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position:absolute;
    right:-3px;
    top:2px;
}

.reply__column:last-child i {
    right:43px;
    top:17px;
}

.reply__column button {
    background-color:var(--yellow);
    border:none;
    width:30px;
    height:30px;
    border-radius:50%;
}

.reply__column button i {
    opacity:1;
}

.reply__column button:focus,
.reply__column button:active {
    outline:none;
}