#friends-display-link {
        display:block;
        text-align:center;
        background-color: #FAFAFA;
        padding:15px 0px;
        margin: 110px 0px 10px 0px;
        font-size:18px;
}

#friends-display-link i{
   color:rgba(0,0,0,0.3);
}

.friends-screen {
        padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
        margin-top:25px;
        border-top:var(--main-border);
        padding-top:15px;
}

.friends-screen__channel-header {
        margin-bottom:30px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        color:var(--subtitle-font-color);
}
