.alt-header {
    padding:var(--horizontal-space);
    margin:15px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.alt-header__title {
    font-size:23px;
    font-weight:600;
}

.alt-header__column:first-child {
    margin-right:auto;
}

.alt-header__column:last-child {
    margin-left:auto;
}