.nav {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #F9F9FA;
    padding:20px 50px;
    box-sizing:border-box;
    border-top:1px solid rgba(121,121,121,0.3);
}
.nav__list {
    display:flex;
    justify-content:space-between;
}
.nav__link {
    color:#2E363E;
    position:relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__notification-dot {
    position: absolute;
    left: 25px;
    bottom: 28px;
}