#no-mobile {
    position:fixed;
    z-index: 99;
    height:100vh;
    width:100vw;
    background-color:var(--yellow);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    top:0;
    overflow:hidden;
}


@media screen and (max-width:645px) {
    #no-mobile {
        display:none;
    }
}

@media screen and (orientation:landscape) {
    #no-mobile {
        display:flex;
    }
}