.screen-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:var(--horizontal-space);
    position:fixed;
    width:100%;
    box-sizing:border-box;
    top:32px;
}

.screen-header__title{
    font-size:32px;
    font-weight:600;
}

.screen-header__icons span{
    margin-left:25px;
}